@model AppUser

<div class="bd-example">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index">User Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="ViewRoles">View Roles</a>
        </li>
    </ul>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
