@model AppUser
<form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="form-inline my-2 my-lg-0">    
        
    <span class="navbar-text text-white"> Hello @Model.UserName  &nbsp;&nbsp;</span>
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" >Log off</button>
  
</form>
