@model Wbod.Models.DB.Directorship

@{
    ViewData["Title"] = "Edit";
}

<div class="bd-example">
    <h6>Edit Directoship Information</h6>
</div>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Cdp1"></label>
                    <select asp-for="Cdp1" asp-items="ViewBag.Currentdirpositionone" class="form-control"></select>
                    <span asp-validation-for="Cdp1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Cdp2"></label>
                    <select asp-for="Cdp2" asp-items="ViewBag.Currentdirpositiontwo" class="form-control"></select>
                    <span asp-validation-for="Cdp2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Daudit"></label>
                    <select asp-for="Daudit" asp-items="ViewBag.Directoraudit" class="form-control"></select>
                    <span asp-validation-for="Daudit" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Drenum"></label>
                    <select asp-for="Drenum" asp-items="ViewBag.Directorrenum" class="form-control"></select>
                    <span asp-validation-for="Drenum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Dnom"></label>
                    <select asp-for="Dnom" asp-items="ViewBag.Directornom" class="form-control"></select>
                    <span asp-validation-for="Dnom" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Duration"></label>
                    <input asp-for="Duration" class="form-control">
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>                                   
                    <input type="hidden" asp-for="Directorid" />
                    <input type="hidden" asp-for="Companyid" />
                    <input type="hidden" asp-for="SessionId" />
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
               
                    <div class="form-group">
                        <a a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Save Info" class="btn btn-primary" />
                    </div>
        </form>
    </div>
</div>



